*.uuid
*.ipynb_checkpoints*
.DS_Store
*.pyc
*/__pycache__/*
__pycache__/
local_scripts/
**/old/
.idea/
others/conda_vulnerabilities_jake.txt
archived_experiments/
data_wrangling/
job_scripts/
src_hpo/
src_cv/
transit_detection/
exominer_pipeline/test_pipeline
#exominer_pipeline/data
others/envs
others/images
others/3rd_party_licenses.md
others/get_3rd_party_licenses_pkgs.py
tess_spoc_ffi/
.gitignore
.git