*.uuid
*.ipynb_checkpoints*
.DS_Store
*.pyc
*/__pycache__/*
local_scripts/
**/old/
.idea/
others/conda_vulnerabilities_jake.txt

others/envs/deprecated/

.vscode/

CLAUDE.md

exominer_pipeline_data/
!exominer_pipeline_data/
exominer_pipeline_data/*
!exominer_pipeline_data/norm_stats.dvc
!exominer_pipeline_data/models/
exominer_pipeline_data/models/*
!exominer_pipeline_data/models/models.tar.dvc