rank: null
rnd_seed: 2  # random seed used to select the validation fold in each CV iteration
paths:
  # experiment directory; results are saved here
  experiment_root_dir: null
  # YAML file containing a list of CV iterations, where each CV iteration is a dictionary with the TFRecord filepaths
  # for each training, validation, and test set folds combination (i.e., {'train': ['/path/to/train_shard-xxxx', ...],
  # 'val': ['/path/to/val_shard-xxxx', ...], 'test': ['/path/to/test_shard-xxxx']}
  datasets_fps_yaml: /home6/msaragoc/work_dir/Kepler-TESS_exoplanet/data/tfrecords/TESS/tfrecords_tess-spoc-2min_tces_s1-s94_10-11-2025_0858_agg_diffimg_train-test-split_10-22-2025_1458_normalized/datasets_fps.yaml
  model_config_fp: /nobackupp19/msaragoc/work_dir/Kepler-TESS_exoplanet/codebase/models/exominer_new.yaml

val_from_train: false  # if true, the validation fold is chosen randomly from the training split. The training split must contain more than one fold
generate_csv_pred: true  # generates a prediction ranking for each of the specified datasets

task: classification  # either `regression` or `classification`

data_fields: # scalar data from TFRecords to add to ranking table
  uid: 'string'
  target_id: 'int_scalar'
  tce_plnt_num: 'int_scalar'
  label: 'string'
  tce_period: 'float_scalar'
  tce_duration: 'float_scalar'
  tce_time0bk: 'float_scalar'
  tce_depth: 'float_scalar'
  ruwe: 'float_scalar'
  tce_prad: 'float_scalar'
  tce_max_mult_ev: 'float_scalar'

# set general architecture of the model based on implementations under models.models_keras.py
model_architecture: ExoMinerJointLocalFlux  # ExoMinerPlusPlus

# maps features' names to features names expected by the model
feature_map: null
#  feature_name: feature_name_model

training:
  data_augmentation: false  # perform online data augmentation
  online_preprocessing_params: # online data augmentation parameters
    'num_bins_global': 301
    'num_bins_local': 31
    'num_transit_dur': 5
  n_epochs: 300  # number of epochs used to train each model
  opt_metric: auc_pr  # metric shown in the epoch plots besides loss for the training, validation and test sets
  batch_size: 256
  filter_data: null  # deprecated; useless
  category_weights:   null  # category weights used in weighted loss; set to null for non-weighted loss
    # non-planet: 6278 -> 0.52
    # planet: 253 -> 12.91
#    KP: 12.91  # 44.23  # 12.91 (N_total / [2 * N_class])
#    CP: 12.91  # 62.20  # 12.91
#    FP: 0.52  # 35.49 # 0.52
#    NTP: 0.52  # 1.14  # 0.52
#    EB: 0.52  # 18.29  # 0.52
#    BD: 0.52  # 1632.75  # 0.52
  sample_weights: false  # use sample weights defined in the data set
  shuffle_buffer_size: 5000  # should be larger than size of the training set to allow perfect sampling

label_field_name: label  # name of the label field in the TFRecord that is going to be used as the label

evaluation:
  batch_size: 32
inference:
  batch_size: 32

callbacks:
  train:
    early_stopping:
      monitor: val_auc_pr  # val_auc_pr  # which metric used to monitor for early stopping
      min_delta: 0
      patience: 100
      verbose: 1
      mode: max  # maximize/minimize monitored metric in early stopping
      baseline: null
      restore_best_weights: true  # get model from epoch that had the best performance according to monitored metric
    tensorboard:
      histogram_freq: 1
      write_graph: false
      write_images: false
      update_freq: epoch
      # profile_batch: 2
      # embeddings_metadata: null
      # embeddings_freq: 0

label_map:  # maps label to a label id
#  # Kepler
#  PC: 1
  # AFP: 0
#  NTP: 0
  # TESS
  KP: 1
  CP: 1
  FP: 0
  EB: 0
  NTP: 0
#  NEB: 0
#  NPC: 0
  BD: 0
  # Kepler Sim
#  INJ1: 1
#  INJ2: 0
#  INJ3: 0
#  SCR1: 0
#  SCR2: 0
#  INV: 0

datasets:
  - train
  - val
  - test

plot_model: true
write_model_summary: true
verbose_model: 2  # for fit, eval, predict functions
verbose: true  # general

metrics:
  'clf_thr': 0.5  # classification threshold
  'num_thr': 1000  # number of thresholds used to compute some metrics
